img {
    size:20px x 20px;
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);
}
h1 {
    text-align: center;

}
p {
    font-size: 15px;
}